<div class="d-flex flex-column font-weight-bold jumbotron justify-content-center" id="jumbotron">
  <div id="blurBox" class="container p-4 text-center">
    <p class="display-4 text-white">IRQ 0x000000</p>
      <p class="text-white m-0">IRQ Zero LLC. - Audio Engineering</p>
    <!-- <p class="animated delay-2s fadeInDown font-weight-normal pt-2 text-white m-0">

      <br>
    </p> -->

    <!-- <p class="lead m-0">
      <a class="btn-sm btn-light animated delay-2s fadeInUp" href="about.html#archivelist" role="button">Fuck You?</a>
    </p> -->
  </div>
</div>